section#appbar.appbar
    button.appbar-button(type='button' onclick='sidebar.collapse();content.collapse()')
        img.appbar-icon(src='/ico/setting.svg' alt='setting')
        span.appbar-title Dashboard
        span.appbar-version v.01