section#sidebar.sidebar
    ul#sidebar-body.sidebar-body
    a.sidebar-footer(href='/profile' class=(route === '/profile' ? 'sidebar-footer-active' : ''))
        img.sidebar-footer-image(src='/img/profile.svg' alt='Ellipse 8')
        span.sidebar-footer-text
            span.sidebar-footer-name User
            span.sidebar-footer-position Software Engineer
