.income {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.income-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px #f1f1f1;
    border-radius: 15px;
}

.income-block-big {
    height: 510px;
    grid-column: span 1;
    grid-row: span 2;
}
